body{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 1200px;
    margin: auto;
}

.header{
    background-color:#47acff;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(255, 255, 255),rgb(100, 100, 100),rgb(20, 100, 30));
}


.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    list-style: none;
    margin:0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.link{
    display: block;
    padding: 10px ;
    text-decoration: none;
    background-color: rgb(255, 243, 110);
    color:black;
    border: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.link:hover{
    background-color: greenyellow;
    font-weight: 700;
}

.gallery{
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: linear-gradient(rgb(255, 254, 196),rgb(255, 244, 94),rgb(253, 249, 0),rgb(155, 144, 0));
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.gallery-item{
    width: 350px;
    height: 250px;
}

.more{
    display: flex;
    background-color: rgb(255, 235, 120);
    padding: 20px 200px ;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    margin: 30px auto;
}

.more:hover{
    box-shadow: 0px 5px 15px 11px  rgb(255, 0, 0), 0px 20px 15px 11px rgb(255, 145, 0), 0px 30px 15px 11px rgb(255, 230, 0), 0px 40px 15px 11px rgb(136, 255, 0), 0px 50px 15px 11px rgb(0, 255, 221),0px 60px 15px 11px rgb(0, 89, 255),0px 70px 15px 11px rgb(212, 0, 255);
}



.maggot{
    font-size: 0px;
    margin: 1000px;

}

